/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@facebook-icon-name: 'facebook-icon';
@facebook-icon-x: 0px;
@facebook-icon-y: 0px;
@facebook-icon-offset-x: 0px;
@facebook-icon-offset-y: 0px;
@facebook-icon-width: 45px;
@facebook-icon-height: 46px;
@facebook-icon-total-width: 90px;
@facebook-icon-total-height: 46px;
@facebook-icon-image: '../img/sprite.png';
@facebook-icon: 0px 0px 0px 0px 45px 46px 90px 46px '../img/sprite.png' 'facebook-icon';
@twitter-icon-name: 'twitter-icon';
@twitter-icon-x: 45px;
@twitter-icon-y: 0px;
@twitter-icon-offset-x: -45px;
@twitter-icon-offset-y: 0px;
@twitter-icon-width: 45px;
@twitter-icon-height: 46px;
@twitter-icon-total-width: 90px;
@twitter-icon-total-height: 46px;
@twitter-icon-image: '../img/sprite.png';
@twitter-icon: 45px 0px -45px 0px 45px 46px 90px 46px '../img/sprite.png' 'twitter-icon';
@spritesheet-width: 90px;
@spritesheet-height: 46px;
@spritesheet-image: '../img/sprite.png';
@spritesheet-sprites: @facebook-icon @twitter-icon;
@spritesheet: 90px 46px '../img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
