@import './less/sprite.less';


/********** Basic styles **********/
body {
  margin: 0;

  color: #0A6CB5;
  background: #FFF;
}
img {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
#content .documentDescription,
#content #description {
  color: #0A6CB5;
}
#content a:link,
dl.portlet a:link,
#content a:visited,
dl.portlet a:visited {
  border-bottom: 0;
}

/********** Main container **********/
#wrapper {
  width: 100%;
  margin: 0 auto;
}
#main {
  display: flex;
}
#main-content {
  width: 100%;
}
#column-one {
  width: 20%;
  padding: 0 2% 0 1%;
}
#column-two {
  width: 20%;
  padding: 0 1% 0 2%;
}
/* edicao */
body.userrole-manager {
  padding-top: 18px;
}
#edit-bar {
  font-size: 78%;

  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;

  border-radius: 0;
}
#portal-personaltools {
  position: absolute;
  top: 30px;
}
#content {
  font-size: 100%;

  margin: 0 0 2em 0;
}

/********** Basic styles **********/

.section-pagina-inicial .documentFirstHeading,
.section-pagina-inicial #viewlet-below-content-title,
.videogrid-title {
  display: none;
}
/* topo */
#logo {
  width: 100%;
  height: 32vh;

  text-align: center;

  background: transparent url(./img/topo.png) no-repeat top center;
  background-size: 140%;
}
.template-view #logo,
.template-document_view #logo {
  position: absolute;
  z-index: 2;
}
#logo img {
  margin-top: 10px;
}

/* estilos home */
.section-pagina-inicial {
  #parent-fieldname-text {
    position: relative;

    height: 120vh;
  }
  .imagem-capa {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    text-align: center;
    img {
      width: 100%;
    }
  }
  .bem-vindo {
    position: absolute;
    top: 50vh;

    width: 100%;

    text-align: center;
    text-align: center;
  }
  #content .bem-vindo > a {
    border: none;
  }
  .assista-agora {
    position: absolute;
    top: 90vh;

    width: 100%;

    text-align: center;

    > img {
      cursor: pointer;
    }
  }
  .video-capa {
    position: absolute;
    top: 0 !important;
    right: 0;
    left: 0 !important;
    display: none;

    overflow: hidden;
    iframe {
      width: 100vw;
      height: 56vw;
    }
  }
}


/* Video Search */
.videosearch {
  .videosearch-input {
    padding: 5vh 0;

    background: #79B2E9;
  }
  .videosearch-input > input {
    font-size: 1.5em;
    font-weight: bold;

    display: block;

    width: 70%;
    max-width: 100%;
    margin: 0 auto;
    padding: 25px 0 25px 73px;

    border: none;
    background: #FFF url(./img/search-icon.png) no-repeat 18px 50%;
  }
  /* do not group these rules */
  .videosearch-input > input::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #ACACAC;
  }
  .videosearch-input > input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    opacity: 1;
    color: #ACACAC;
  }
  .videosearch-input > input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #ACACAC;
  }
  .videosearch-input > input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #ACACAC;
  }
}

/* Videogrid */
.videogrid {
  position: relative;

  overflow: hidden;

  background: #000;
  .videogrid-item {
    position: relative;

    float: left;

    width: 33.333%;
    min-height: 1px;
  }
  .videogrid-item:hover {
    z-index: 100;
  }
  .videogrid-image > img {
    display: block;

    width: 100%;
    max-width: none;
    height: 100%;
  }
  .videogrid-image > img:hover {
    transition: transform 250ms cubic-bezier(.4, 0, .2, 1) 45ms, opacity;
    transform: scale(1.01);

    box-shadow: 0 0 35px 0 #000;
  }
  .sizer-element {
    width: 33.333%;
  }
}


/* Embedder */
.template-view.portaltype-sc-embedder {
  #content article,
  .aftermain-row,
  .relatedItems-title {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
  .top_embedded {
    position: relative;

    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
  }
  .top_embedded > iframe {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
  }
  .documentFirstHeading > .pink {
    color: #E6017E;
  }
  .social-like-title,
  .external-related-items-title {
    font-size: 1.4rem;
    font-weight: bold;

    display: block;

    margin-bottom: 1rem;
  }
  .aftermain-row {
    display: flex;

    margin-bottom: 3rem;
  }
  #external-related-items ul {
    list-style: disc inside;
  }
  #external-related-items li {
    font-size: 80%;

    display: list-item;

    text-decoration: underline;
  }
  #external-related-items li a {
    color: #0A6CB5;
  }
  .relatedItems-title {
    font-size: 1.4rem;
    font-weight: bold;

    display: block;

    width: 90%;
    margin-bottom: 1rem;
  }
}


/* Social Like */
#viewlet-social-like {
  display: block;

  min-width: 270px;
  min-height: 6em;
  margin: 0;

  .networks {
    position: relative;

    float: none;

    margin: 0;
  }
  .networks > div {
    position: relative;
  }
  .networks > div > * {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;

    transform: scale(5);
    transform-origin: left top;

    opacity: 0;
  }
  .networks > div {
    float: left;
    overflow: hidden;

    margin-left: 7px;

    cursor: pointer;
  }
  .sociallike-network-facebook {
    .sprite(@facebook-icon);
  }
  .sociallike-network-twitter {
    .sprite(@twitter-icon);
  }
}

#category {
  display: none;
}


/* Responsivo */
@media (min-width: 1300px) {
  #logo {
    height: 30vh;
  }
  #logo img {
    margin-top: 3vh;
  }
}
@media (max-width: 1300px) {
  .section-pagina-inicial #parent-fieldname-text {
    height: 100vh;
  }
  #logo {
    height: 20vh;
  }
}
@media (max-width: 1024px) {
  #logo {
    background-size: 200%;
  }
  .section-pagina-inicial .imagem-capa img {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    width: 120vw;
    max-width: 1000%;
    margin-left: -20%;
  }
  .section-pagina-inicial .imagem-capa {
    position: absolute;
    top: 0;

    overflow: hidden;

    width: 100%;
  }
  .section-pagina-inicial #parent-fieldname-text {
    height: 100vh;
  }
}
@media (max-width: 800px) {
  #logo {
    background-size: 180%;
  }
  #logo img {
    width: 18vw;
    margin-top: .3em;
  }
  .section-pagina-inicial #parent-fieldname-text {
    height: 80vh;
  }
  .section-pagina-inicial .assista-agora {
    top: 70vh;
  }
  .section-pagina-inicial .imagem-capa img {
    width: 140vw;
    margin-left: -20%;
  }
  .section-pagina-inicial .bem-vindo {
    top: 30vh;
  }
  .videosearch .videosearch-input > input {
    font-size: .8em !important;

    width: 70%;
    padding: 18px 0 18px 47px;

    background: #FFF url(/++theme++Default/img/search-icon.png) no-repeat 6px 40%;
  }
  .videogrid .videogrid-item {
    width: 100%;
  }
  .portaltype-sc-embedder #main-content {
    width: 90%;
    margin: 0 auto;
  }
  .template-view.portaltype-sc-embedder .aftermain-row {
    display: block;

    width: 90%;
  }
  #viewlet-social-like {
    width: 100%;
  }
  #twitter-widget-0 {
    max-width: 100%;
  }
}
@media (max-width: 568px) {
  #logo {
    height: 10vh;
  }
  .section-pagina-inicial .imagem-capa img {
    width: 200vw;
    margin-left: -50%;
  }
}
@media (max-width: 480px) {
  #logo {
    background-size: 240%;
  }
  #logo img {
    width: 22vw;
  }
  .section-pagina-inicial .imagem-capa img {
    width: 250vw;
    margin-left: -90%;
  }
}
